.container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 1rem;

  &.homeContainer {
    margin-top: 12.5rem; // 200px
    @media (min-width: 898px) {
      margin-top: 3.125rem; // 50px
    }
  }
}
