.properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.image {
  height: 150px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.property {
  white-space: nowrap;

  .name {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .location {
    color: gray;
  }

  .price {
    font-weight: 700;
    margin: 0.5rem 0;
  }

  .betweenContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    // flex-wrap: wrap;
  }

  .ratingContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .rating {
    background-color: #0147b0;
    padding: 7px;
    font-weight: 600;
    color: var(--light);
    border-radius: 4px;
    min-height: 25px;
    min-width: 25px;
  }

  .ratingText {
    font-weight: 600;
  }

  .reviewsCount {
    color: gray;
    font-size: 0.9rem;
  }
}
