.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; // 16px
  padding: 10px;
  border-radius: 14px;
  outline: 5px solid #0063f3;
  background-color: var(--light);
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 2rem;
  right: 2rem;
  margin: 0 auto;
  @media (min-width: 898px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.searchItem {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 39px;

  .icon {
    color: hsl(0, 0%, 76%);
    margin-right: 7px;
  }
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.searchIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.searchInput {
  padding: 10px;
  border: none;
  border-radius: 6px;
  padding-left: 27px;
  &::placeholder {
    color: hsl(0, 0%, 76%);
  }
  &:focus {
    outline: none;
  }
}

.searchItemText {
  color: hsl(0, 0%, 76%);
  min-width: 16ch;
  text-align: left;
}

.dateRangeContainer {
  position: absolute;
  top: 100%;
  left: -3rem;
  z-index: 5;
  background-color: var(--light);
  border-radius: 8px;
  overflow: hidden;
  // filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 8px;
  overflow: hidden;
  // filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.2));
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  ~ .optionItem {
    margin-top: 1rem;
  }
}

.optionButtons {
  display: flex;
  align-items: center;
  margin-left: 10px;

  button {
    background-color: #0063f3;
    color: var(--light);
    border-radius: 5px;
  }

  span {
    min-width: 3ch;
    text-align: center;
    font-weight: 600;
  }
}

.searchButton {
  background-color: #0063f3;
  color: var(--light);
  border-radius: 10px;
  padding: 0.7rem;
}
