* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 14%);
  --navbarHeight: 3rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  background-color: var(--light);
  color: var(--dark);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

button {
  display: block;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
*/
